@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

h1{
    font-size: 3rem;
    font-family: 'Eczar';
}

h2{
    font-size: 1.8rem;
}

p {
    width: clamp(45ch,50%);
}

.container{
    height: 100vh;
    color: #2e2e2e;
    font-family: 'EB Garamond';
    background-color: antiquewhite;
    display: flex;
}

.container .left-container{
    flex: 1.2;
    height: 100vh;
    flex-direction: column;
    background-image: url(side-image.jpg);
    background-position: -400px;
    background-size: 250%;
    backdrop-filter: grayscale(70%);
}

.left-container > div{
    display: flex;
    position: relative;
    
}

.logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-background-square{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    background-color: #000000;
}

.container .right-container{
    flex: 2;
    flex-direction: column;
    justify-content: space-between;
}

.form{
    padding-bottom: 100px;
}

.form .section{
    display: flex;
    column-gap: 200px
}

.section .left{
    flex-direction: column;
}

.section .right{
    flex-direction: column;
}

#first_name, #last_name{
    width: 170px
}


