@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

h1{
    letter-spacing: -3px;
    font-weight: 900;
    font-size: 4rem;
    font-family: 'Montserrat';
}

h2{
    font-size: 1.4rem;
    width: clamp(25ch,75ch);
}

p {
    width: clamp(45ch,50%);
}

button{
    font-size: 1.2rem;
    width: 250px;
    height: 40px;
    font-family: 'Montserrat';
    border-radius: 5px;
    border: 0;
    color: whitesmoke;
    background-color: rgb(47, 61, 107);
}

button:hover{
    background-color: rgb(70, 91, 161);
}

button:active{
    background-color: rgb(96, 124, 218);
}

body{
    background-image: url(side-image.jpg);
    background-size: cover;
}

.container{
    color: #2e2e2e;
    font-family: 'Montserrat';
    display: flex;
    flex-wrap: wrap;
}

.text-section{
    padding: 50px;
}

.text-section h2:first-child{
    margin-bottom: 20px;
}

.form-section{
    flex: 1;
}

.sign-up-section{
    flex: 1;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-color: #333333;
}

.left-container{
    flex: 1;
    height: 300px;
    flex-basis: 300px;
    flex-direction: column;
    position: relative;
}

.left-container > div{
    display: flex;
    
}

.logo-container{
    color: rgb(255, 255, 255);
    width: 100%;
    top: 100px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.logo{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo > img{
    width: 55px;
    height: auto;
}

.logo-background-square{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.32);
}

.right-container{
    background-color: #333333;
    background-image:none;
    height: 100dvh;
    flex: 2;
    flex-basis: 500px;
    flex-wrap: nowrap;
    flex-direction: column;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.24);
    position:relative;
    z-index:10;
}

.main-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
}

label{
    padding-top: 10px;
}

.form{
    color: #ffffff;
    font-weight: bolder;
    background-color: #333333;
    display: flex;
    padding: 50px;
    padding-top: 0;
    font-size: 1rem;
    z-index:10;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.24);
}

#form-title{
    font-weight: 600;
    padding-bottom: 20px;
}

.form .section{
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    padding-bottom: 10px;
}

.section .left{
    flex-direction: column;
}

.section .right{
    flex-direction: column;
}

#first_name, #last_name, #email, #phone, #password{
    font-size: 1rem;
    font-family: 'Montserrat';
    font-weight: 400;
    letter-spacing: 1px;
    width: clamp(150px,200px,240px);
    height: 20px;
    padding: 5px;
    color: #ffffff;
    border: #464646 solid 0.5px;
    border-radius: 3px;
}

.create-account-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
}

#login-text{
    font-family: 'Montserrat';
    font-size: 1.0rem;
}

#image-author-credit{
    position: absolute;
    bottom: 0;
    align-self: center;
}